:root {
  --bk-color: #212121;
  --text-color: #CFD8DC;
  --primary-color: #455A64;
  --secondary-color: #4CAF50;
  --third-color: #607D8B;
  --dark-grey: #757575;
  --light-grey: #BDBDBD;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--bk-color);
}

code {
  font-family: sans-serif 'Courier New',
    monospace;
}
