.setup2{
    border: 1px solid gray;
    border-radius: 5px;
    background-color: rgb(33, 33, 33);
    font-size: 11px;
}

button{
    font-size: 10px;
}

.table{
    display: flex;
    justify-content: space-between;
    
    /* border: 1px solid red; */
}

.size, .diff{
    display: flex;
    border: 1px solid gray;
    justify-content: space-between;
}

.text{
    min-width: 80px;
    /* padding: 0;
    margin-top: 2px; */
    /* margin: auto; */
}
.apply{
    width: 100%;
}
.apply{
    display: flex;
}
.buttonapply, .prod{
    width: 50%;
}
.buttonapply{ 
    height: 100%;
    border-radius: 5px;
    /* padding: 2px; */
}              

.left{
    /* border: 1px solid green; */
    width: 45%;
    margin: 0 0 0 auto;
    /* padding: 0 2px; */

}

.legend{
    margin: 0 auto;
}

.right{
    display: flex;
    border: 1px solid gray;
    justify-content: space-between;
    width: 45%;
    margin: 0 auto 0 0;
    /* padding: 0 2px; */

}

.ok{
    width: 10%;
    min-width: max-content;
    border-radius: 5px;
}

@media screen and (max-width: 414px){
    .setup2{
        width: 80%;
    }
    .right, .table{
        display: block;
        width: 80%; 
        align-items: center;
        margin: auto;     
    }
    .left{
        width: 80%; 
        margin: auto;     

    }
    .ok{
        width: 80%;
    }
}