.setup2{
    border: 1px solid gray;
    border-radius: 5px;
    background-color: rgb(33, 33, 33);
}

.table{
    display: flex;
    justify-content: space-between;
    
    /* border: 1px solid red; */
}

.size, .diff{
    display: flex;
    border: 1px solid gray;
    justify-content: space-between;
}

.text{
    min-width: 80px;
    /* margin: auto; */
}

.buttonapply, .apply{
    width: 100%;
}
.buttonapply{ 
    height: 100%;
    border-radius: 5px;
    /* padding: 2px; */
}              

.left{
    /* border: 1px solid green; */
    width: 45%;
    margin: 0 0 0 auto;
    /* padding: 0 2px; */

}

.legend{
    margin: 0 auto;
}

.right{
    display: flex;
    border: 1px solid gray;
    justify-content: space-between;
    width: 45%;
    margin: 0 auto 0 0;
    /* padding: 0 2px; */

}

.ok{
    width: 10%;
    border-radius: 5px;
}